h1 {
    color:blue;
    text-align: Center;
}
.navigation {
    color: black;
    text-align: Center;   
}
body {
    background-color: black;
}
.text-style {
    color: white;
    text-align: center;
}
