h1 {
    color: whitesmoke;
    text-align: Center;
    font-size: 100px;
}
.navigation {
    color: black;
    text-align: Center;   
    font-size: 30px;
}
body {
    background-color: black;
}
.text-style {
    color: white;
    text-align: center;
}
h4 {
    color: White;
}
.interests {
    color: white;
    font-size: 40px;
}

ol.interests {
    color: white
}